@using EventTracker.Models;
@{ 
  
    var eve = Model;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @{ foreach (var e in eve)
        {
            <p>@e.Title</p>
            <p>@e.Date</p>
            <p>@e.Description</p>
        }

    }
</body>
</html>
