@model List<EventTracker.Models.EventModel>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/main.css" />
    <title>Index</title>
</head>

<body>
    <section id="Calendar">
        <div class="container">
            <div class="row">
                <div class="col text-center" id="year">
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col text-center" id="months">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col text-center" id="days">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                    @Html.Partial("/Views/Partials/_Events.cshtml", Model)
            </div>
        </div>
    </section>
    <script src="~/js/main.js"></script>
</body>
</html>
