body {
}

.day {
    margin-left: 5px;
    margin-right: 5px;
}

.month{
    margin-left: 5px;
    margin-right: 5px;
}

.eventName{
    border: 2px solid black;
}

.eventDesc {
    border: 2px solid rgb(185, 167, 27);
}

.eventDate {
    border: 2px solid #b200ff;
}

.eventsRows{
    display: block;
    margin: 10px 10px 10px 10px;
}