<form action="" method="POST">
    <p>Event Name</p>
    <input type="text" name="Title" value="" class="form-control">
    <p>Event Description</p>
    <input type="text" name="Description" value="" class="form-control">
    <p>Event Date</p>
    <input type="date" name="Date" value="" class="form-control">
    <p>When it starts ?</p>
    <input type="time" name="StartTime" value="" class="form-control">
    <input type="submit" value="Add" class="btn btn-info">
</form>