@model List<EventTracker.Models.EventModel>
@{
    foreach (var eve in Model)
    {
        <div class="media">
            <div class="media-body">
                <h5 class="mt-0">@eve.Title.Trim()</h5>
                @eve.Description
                <p>@eve.Date</p>
            </div>
        </div>

    }
}
